__pycache__/
venv/
*.py[cod]
.vscode
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/add 
RACCOON/Agents/plan.txt
RACCOON/Agents/plan.json
chart_generation.log
RACCOON/assets/*
RACCOON/output/*
error_logs.log
error_logs.json
RACCOON/conciseResponse.md
RACCOON/ProcessLogs.md
temp_rag_space
Graph.json
response-withCharts.md
tickers.txt
pathway_rag/persistence_data
RACCOON/usage_metadata-self_messages_fromReflection_content.txt
RACCOON/tool_calls-self_messages_fromReflection_content.txt
RACCOON/tickers.txt
RACCOON/self_messages_fromReflection.txt
RACCOON/response_metadata-self_messages_fromReflection_content.txt
RACCOON/content-self_messages_fromReflection.txt
RACCOON/Bad_Question.md
RACCOON/additional_kwargs-self_messages_fromReflection.txt
ProcessLogs.md

pathway_rag/uploads/


*.csv

